/*
https://www.color-hex.com/color-palette/79118
*/

@keyframes slideDown{
    0%{
        height:0;
        overflow: hidden; 
    }
    100%{
        height:60px;
        overflow:visible;
    }
}

@keyframes rotateRightAndLeft{
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
}

@keyframes slideToLeft{
    0%{
        opacity: 0;
        left: 50%;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}

@keyframes slideToRight{
    0%{
        opacity: 0;
        right: 50%;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}

@keyframes slideToBottom{
    0%{
        opacity: 0;
        bottom: 150px;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}

@keyframes minimizeAndExpand{
    0%{
        transform: scale(1);
        opacity: 0;
        animation-timing-function: ease-in;
    }

    20%{
        opacity: 1;
        transform: scale(0.1);
    }

    40%{
        transform: scale(0.6);
    }

    60%{
        transform: scale(0.2);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes flipElement{
  0% {
    visibility: visible;
    transform: rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0; 
    }
  40% {
    transform: rotateY(-40deg);
    animation-timing-function: ease-in; 
}
  60% {
    transform: rotateY(20deg);
    opacity: 1; 
}
  80% {
    transform:  rotateY(5deg); 
}
  100% {
    opacity: 1; 
    } 
}

@keyframes slideToBottomSquare{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50px;
        opacity: 0;
    }
    55%{
        top: 50px;  
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

@keyframes fillWidth{
    0%{
        width: 0%;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}



body{
    margin: 0; 
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px
}

section{
    position: relative;
}

section:nth-of-type(2n + 2){
    background-color: whitesmoke;
}

#contact{
    background-color: #34454f;
   
}
#contact div{
    color: white;
}

#contact .title-bar{
    background: white;
}

a{
    text-decoration: none;
    color: #fff;
}

h1{
    margin: 0;
}

.highlight{
    font-weight: bold;
    color: #56b5ee;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex.row{
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.home-container{
    background-image:  linear-gradient(
        rgba(26,63,86, 0.65), 
        rgba(26,63,86, 0.65)
      ),
      url("../img/backgroundMobile.jpg");
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    height: calc(92vh + 60px);
    box-sizing: border-box;
    
}

.home-container .text{
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.container{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
}

.flex.center{
    justify-content: center;
}

.button{
    font-size: 1.25rem;
    padding: 12px 35px;
    cursor: pointer;
    transition: all 1s;
    position: relative;
}

#cv{
    opacity: 0;
}

.transparent{
    border: 2px solid white;
}

.solid{
    border: 2px solid #1e313c;
    background-color: #1a3f56;
}

.transparent:active{
    background-color: #56b5ee;
    border: 2px solid #1a3f56;
}

.solid:active{
    background-color: #639cbf;
    border: 2px solid #456d85;
    transform: scale(1.2);
}

nav{ 
    bottom: 0;
    left: 0;
    background-color: #1a3f56;
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 99;
}

.gapnav{
    position: relative;
    height: 60px;
    width: 100%;
}

.wrap-link{
    width: 100%;
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 60px;
    background: #0d151a;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

nav .wrap-link > div {
    margin: 10px 20px;
    text-transform: uppercase;
}

.fixed{
    top: 0;
    left: 0;
    position: fixed;
    animation-duration: 0.8s;
    animation-name: slideDown;
    height: 60px;

}

.link a {
    transition: color 0.5s;
}

.link a:active {
    color: #56b5ee;
}

nav i{
    margin-right: 5vw;
    font-size: 2.2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.active{
    color: #56b5ee; 
    text-decoration: underline
}

.visible{
    height: initial;
    max-height: 130px;
}

.title{
    position: relative;
    opacity: 0;
    font-size: 2rem;
    color: #1a1c1d;
    text-transform: uppercase;
    font-weight: bold;
}

.title-bar{
    position: relative;
    opacity: 0;
    width: 80px;
    height: 3px;
    background: #1a1c1d;
    margin-bottom: 15px;
}

.slide-to-left{
    animation-name: slideToLeft;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

.slide-to-right{
    animation-name: slideToRight;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

.slide-to-bottom{
    animation-name: slideToBottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fill-width{
    animation-name: fillWidth;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


.flip-element{
    animation: flipElement 2.5s ease both;
    animation-fill-mode: forwards;
}

.minimize-and-expand{
    animation: minimizeAndExpand 1.5s ease forwards;
}

.diamond-list{
    position: relative;
}

.hex-skills{
    position: relative;
}

.element{
    
    color: #000;
    padding: 0 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 123px;
    position: relative;
}

.diamond-list .element .diamond-wrapper{
    opacity: 0;
}

.element.hex{
    opacity: 0;
    max-width: 275px;
}

.element.hex.show{
    transition: opacity 1.5s,
                transform 0.8s ease-out;
    opacity: 1;
    animation-duration: 2s;
    animation-name: rotateRightAndLeft;
    animation-delay: 0.5s;
}

.text-element{
    margin-top: 15px;
    position: relative;
    opacity: 0;
}

.element.hex .text-element{
    opacity: 1;
}


.progress-list{
    opacity: 0;
    position: relative;
    width: 80vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.progress-bg {
    width: 100%;
    background-color:#dbdbdb; 
    margin-bottom: 20px;
    
    font-size: 0.9rem;
}

.progress-bar {
    position: relative;
    height: 30px;
    background-color: #639cbf;
    width: 0;
    opacity: 0;
}

.progress-tag{
    position: absolute;
    width: 105px;
    height: 30px;
    background-color:#72a5c5;
    font-weight: bold;
    left: 0;
    z-index: 1;
}

.progress-percentage{
    position: absolute; 
    right: 1%;
}


.diamond-wrapper{
    height: 100px;
    width:  100px;
    position: relative;
    margin-bottom: 5px;
}

.diamond {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.diamond::before{
    display: inline-block;
    height: calc(100% * 0.71);
    width: calc(100% * 0.71);
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #56b5ee;
    
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}


.diamond i{
    position: absolute;
    font-size: 1.6rem;
    z-index: 1;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hexagon{
    width: 320px;
    height: 217px;
    background: #000;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    border-radius: 35%;
    
}

.hexagon-inner{
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    border-radius: 35%;
    
}

.hexagon-inner-in{
    width: 100%;
    height: 100%;
    background-image: url("../img/img1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-60deg);
    visibility: visible;
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    border-radius: 35%;
}

.email-wrapper{
    margin: 15px 0px; 
    width: 100%; 
    position:relative;
    display: inline-block;
    margin-top: 50px;
    opacity: 0;
}

.email-wrapper .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Posición del tooltip */
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

.email-wrapper .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
.email{
    padding: 10px 12px;
    transition: all 1s;
    display: inline;
}

.email-button{
    padding: 10px 15px;
    transition: all 1s;
    display: inline;
    cursor: pointer;
    background-color: #8e989d;
}

.email.transparent:active{
    background-color: initial;
    border: 2px solid white;
}

.email-button.transparent:active{
    background-color: #56b5ee;
    border: 2px solid white;
}

#up-button{
    padding: 10px 15px;
    transition: all 1s;
    display: inline;
    cursor: pointer;
    background-color: #56b5ee;
    font-size: 1.6rem;
}

.divided::before{
    content:"";
    width: 100%;
    height: 50%;
    bottom:0;
    left: 0;
    position: absolute;
    background-color: #1a2227;
}

.square{
    padding: 10px 15px;
    margin: 0 15px;
    transition: all 0.5s;
    display: inline;
    cursor: pointer;
    background-color: #29373f;
    font-size: 1.6rem;
    overflow: hidden;
}

.square.link{
    position: relative;
    opacity: 0;
}

.square i {
    position: relative;
}

.copy{
    font-size: 0.625rem;
}

#text-goodbye{
    position: relative;
    opacity: 0;
    animation-delay: 0.5s;
}


/*Equipos que soportan hover.*/
@media (hover: hover) {
    .transparent:hover{
        background-color: #56b5ee;
        border: 2px solid #1a3f56;
    }

    .email.transparent:hover{
        background-color: initial;
        border: 2px solid white;
    }

    .email-button.transparent:hover{
        background-color: #56b5ee;
        border: 2px solid white;
    }

    .email-button:hover + .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

    .solid:hover{
        background-color: #639cbf;
        border: 2px solid #456d85;
        transform: scale(1.1);
    }

    .link a:hover {
        color: #56b5ee;
    }

    .element.hex:hover{
        transform: scale(1.1);
    }

    .diamond-list .diamond:hover{
        animation-name: rotateRightAndLeft;
        animation-duration:  0.2s;
        animation-timing-function:  ease;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
    }

    .square:hover i{
        animation-name: slideToBottomSquare;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .square:hover {
        background-color: #639cbf;
    }
}

@media(min-width: 600px){
    .home-container{
        background-size: cover; 
        background-position: center; 
        background-image:  linear-gradient(
         rgba(26,63,86, 0.65), 
         rgba(26,63,86, 0.65)
      ),
      url("../img/backgroundDesk.jpg");
      height: calc(100vh + 60px);
    }
    
    .home-container .text{
        font-size: 2.2rem;
    }

    .wrap-link{
        height: initial;
        overflow: visible;
        position: static;
        background: inherit;
        max-height: initial;
    }

    nav .wrap-link > div {
        display: inline;
    }

    nav i{
        visibility: hidden;
    }

    .element{
        max-width: 150px;
    }

    .element.hex{
        max-width: 375px;
    }

    .diamond-wrapper{
        height: 130px;
        width:  130px;
    }

    .diamond i{
        font-size: 2.5rem;
    }

    .hexagon{
        width: 340px;
        height: 237px;
    }
}

@media(min-width: 960px){
    .element{
        max-width: 180px;
    }
    .diamond-wrapper{
        height: 170px;
        width:  170px;
    }
    .diamond i{
        font-size: 3rem;
    }

    .hex-skills{
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .progress-list{
        width: 40%;
    }

    .hexagon{
        width: 390px;
        height: 287px;
    }
}

@media(min-width: 1600px){
    
}
/*Pantallas extra pequeñas.*/
@media(max-width: 310px){
    .email-button{
        display:none;
    }
}
